/* - - - INFO - - -
blue:
left col = 400px 
right col = 200px

*/

/* - - - *TAGS - - - */
body  {
background-color: #323232;
font:normal 12px/16px Arial, Helvetica, sans-serif;
color: #FFF;
margin:0;
padding:0;
}
img {border:0;}
a {
text-decoration:none;
color:#FFF;
}

a:hover {text-decoration:underline;}
a:active {color:#900;}

ul, li, p {margin:0;padding:0}
li {margin-left:15px;}

/* - - - *COMMON - - - */
.clear {clear:both;}

/* - - - *HEADER - - - */
#page {
background:#4d4d4d url(images/bg.jpg) repeat-x 0 0;
}

#header {
position:relative;
width:800px;
height:415px;
margin:0 auto;
}

#logo {
position:absolute;
top:150px;
}

#hdr-img {
position:absolute;
top:30px;
right:0;
}

/* - - - *NAVBAR - - - */
#navbar {
background-color:#003fa7;
/* width:960px; */
border:1px solid #3673d8;
border-top:0;

width:350px;
height:45px;
line-height:45px;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
}

ul#navbar {
list-style-type:none;
width:690px;
margin:0 auto;
padding-left:10px;
}

ul#navbar li {
display:inline;
margin-right:10px;
}
ul#navbar li a {font-weight:bold;font-size:14px;}

#phone-nav img {vertical-align:middle;}
li#phone-nav {
font-size:18px;
/* float:right; */
text-align:right;
margin-left:100px;
}

/* - - - *MENU - - - */
#menu {
float:left;
width:150px;
margin-right:10px;
}

/* - - - *MAIN - - - */
#main {
width:860px;
margin:0 auto;
padding:50px 0 10px 90px;
}

#home #main {
width:960px;
margin:0 auto;
padding:50px 0 10px 0;
}
.col {
float:left;
width:260px;
padding:0 30px;
}

.col h1 {font-size:18px;}

.col h1 span {
display:block;
padding-top:5px;
font-size:24px;
}

.col h2 {
font-size:12px;
font-style:italic;
font-weight:normal;
}

.col h3, h3 {
font-size:12px;
margin-bottom:0;
padding-bottom:0;
}

h3 + p {margin-top:0;}
.col ul li {margin:0 0 5px 15px;}
.border-left {background:url(images/border.gif) repeat-y 0 0;}
.featured-img {
border:5px solid #FFF;
-moz-box-shadow: 0 2px 8px #000;
-webkit-box-shadow: 0 2px 8px #000;
box-shadow: 0 2px 8px #000;
}

#compare-chart {
background:#FFF;
color:#000;
border-collapse:collapse;
width:400px;
margin:0 auto;
}

#compare-chart th, #compare-chart td {
border:1px solid #000;
text-align:left;
padding:5px;
}

.product-img {
border:5px solid #FFF;
float:right;
margin:10px 0 10px 10px;
}

.product {
clear:both;
padding-top:20px;
}
.divider {
margin:50px;
margin-bottom:0;
}

/* spinny starburst */
.wrap-claim {
position:relative;
margin:50px 0;
left:15px;
}

.claim {
	position:absolute;
	top:20px;
	left:3px;
	width:80%;					
	font-size:160%;
	line-height:160%;
	font-weight:bold;
	text-align:center;
	
}

#burst-12 { background: #212121; width: 215px; height: 200px; position: relative; text-align: center; } 
#burst-12:before, #burst-12:after { content: ""; position: absolute; top: 0; left: 0; height: 200px; width: 215px; background: #212121; } 
#burst-12:before { -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg); } 
#burst-12:after { -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -ms-transform: rotate(60deg); -o-transform: rotate(60deg); }

#burst-12 {
	-webkit-animation: rotation 10s infinite linear;
	-moz-animation: rotation 10s infinite linear;
	animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to   {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to   {-moz-transform: rotate(359deg);}
}

@keyframes rotation {
	from {transform: rotate(0deg);}
	to   {transform: rotate(359deg);}
}
/* - - - *contact form - - - */
label {
float:left;
width:100px;
}

input, select {margin-bottom:5px;}

#form-submit {margin-left:400px;}
.error-msg {
font-weight:bold;
background:#FFF;
color:red;
padding:10px;
display:inline-block;
margin-bottom:10px;
}
/* - - - *SIDEBAR - - - */
#sidebar {
float:right;
width:150px;
margin-left:10px;
}


/* - - - *FOOTER - - - */
#footer {
clear:both;
width:100%;
padding:5px 0;
border-top:1px solid #5b5b5b;
font-size:11px;
text-align:center;
}
#footer ul {list-style-type:none;}

#footer ul li {
display:inline;
margin-right:10px;
}